.hero{
    background-image: url('https://github-production-user-asset-6210df.s3.amazonaws.com/86356896/281955578-562c4e99-f5ac-4b94-a0d6-30405f9599b9.png')  ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}